:root{
    --primay-color: #253380;
    --secondry-color: #00a2c2;
    --primary-font: General Sans;
    --white-color: #fff;
    --black-color:#111111;
    --text-color:#999999;
    --font-size-text:14px;
    --third-color: #555555;
    
}