@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?u2t95j");
  src: url("fonts/icomoon.eot?u2t95j#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?u2t95j") format("truetype"),
    url("fonts/icomoon.woff?u2t95j") format("woff"),
    url("fonts/icomoon.svg?u2t95j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-view .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-view .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(17, 17, 17);
}
.icon-compare:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
  color: #555;
}
.icon-icon-5:before {
  content: "\e905";
}
.icon-line:before {
  content: "\e90e";
  color: #e5e8ec;
}
.icon-nav-menu-icon:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e907";
  color: #fff;
}
.icon-heart:before {
  content: "\e908";
  color: #fff;
}
.icon-account:before {
  content: "\e909";
  color: #fff;
}
.icon-find:before {
  content: "\e90a";
  color: #999;
}
.icon-arrow-down:before {
  content: "\e90b";
  color: #fff;
}
.icon-uniE90C:before {
  content: "\e90c";
  color: #ffb800;
}
.icon-db-arrow-left:before {
  content: "\e90d";
  color: #00a2c2;
}
.icon-home:before {
  content: "\e10";
}

:root {
  --primay-color: #253380;
  --secondry-color: #00a2c2;
  --primary-font: "GeneralSans-Variable", sans-serif;
  --white-color: #fff;
  --black-color: #111111;
  --text-color: #999999;
  --third-color: #837b7b;
  --font-size-text: 1.4rem;
  --section-border-bottom: #e5e8ec;
  --header-border-color: #364a9b;
  --third-color: #555555;
}
html {
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.product-purchase_time a {
  display: inline;
  color: var(--third-color);
  font-size: 1.3rem;
  margin-left: 0.2rem;
}
.product-purchase_time a:hover {
  color: var(--third-color);
}
.product-purchase_time a svg {
  position: relative;
  top: -0.2rem;
}

.product-purchase_image img {
  height: 6rem;
}
.product-purchase_text .title {
  color: var(--black-color);
  font-family: var(--primary-font);
  text-decoration: none;
  display: block;
  font-size: var(--font-size-text);
  line-height: 1.5;
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
  font-weight: 600;
}
.product-purchase_text span {
  font-size: 1.3rem;
  color: var(--third-color);
  cursor: pointer;
}

.product-purchase {
  box-shadow: 0 5px 30px #0000000d;
  padding: 1.6rem;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  width: 35rem;
  z-index: 9999;
}
.product-purchase::after {
  box-shadow: 0 5px 30px #0000000d;
  background-color: var(--black-color);
  content: "";
  position: absolute;
  animation: product-purchase_line 5s linear forwards;
  background-color: var(--black-color);
  height: 2px;
  bottom: 0;
  width: 100%;
  border-radius: 2px;
  transform: translateX(-1.7rem);
}
@keyframes product-purchase_line {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes product_go_up {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes product_go_down {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(10rem);
    visibility: hidden;
    opacity: 0;
  }
}
.product_animate {
  animation: product_go_up linear 0.5s forwards;
}
.product_go_down {
  animation: product_go_down linear 0.5s forwards;
}
#product_close {
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  right: 1.5rem;
  cursor: pointer;
}

.back-top {
  cursor: pointer;
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  bottom: 15rem;
  text-align: center;
  z-index: 1;
  transform: scale(0);
  overflow: hidden;
  transition: all linear 0.3s;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.back-top_show {
  transform: scale(1);
}
.back-top_icon {
  font-size: 11px;
  mix-blend-mode: difference;
  transform: rotate(-90deg);
}
.back-top_icon::before {
  color: var(--white-color);
}
.back-top_icon path {
  fill: var(--white-color);
}
.icon_change path {
  fill: var(--white-color);
}
.bls_back-top {
  bottom: 0;
  right: 0;
  width: 100%;
  transition: all linear 0.1s;
  background-color: black;
  position: absolute;
  bottom: 0;
  height: 0%;
}
.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--primay-color);
  box-shadow: 0 0.01rem 0.1rem rgba(0, 0, 0, 0.5);
  scroll-behavior: smooth;
}
.header.sticky {
  animation: header_go_up 0.7s ease;
}
@keyframes header_go_up {
  from {

    transform: translateY(-100%);
  }

  to {

    transform: none;
  }
}
.header_top {
  line-height: 1;
  padding: 1rem 0px;
}

.header-top-list {
  border-bottom: 1px solid var(--header-border-color);
}
.line .icon-line {
  font-size: 18px;
}
.line .icon-line::before {
  color: #e5e8ec;
}
.header_top span {
  transition: all 0.2s linear;
  display: inline-block;
  color: var(--white-color);
  font-size: 1.3rem;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.header_top_icon {
  margin-left: 0.8rem;
}
.header_top_icon i {
  position: relative;
  top: -1px;
  font-size: 5px;
}

.header_top span a {
  text-decoration: none;
  color: var(--white-color);
}

.header_top a:hover span {
  color: var(--secondry-color);
}

.header_top-left span:nth-child(1) {
  margin-right: 2.5rem;
}

.store,
.english {
  margin-right: 2.5rem;
}

.header_mid_input .searchBar {
  flex: 1;
}

.header_mid_input .searchBar input {
  border: none;
  outline: none;
  width: 100%;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 1.35rem 5rem;
  color: var(--text-color);
  font-size: 1.3rem;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.header_mid_logo {
  cursor: pointer;
}

.header_mid_input .searchBar i {
  font-size: 17px;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}

.header_mid {
  padding: 2.5rem 0;
}

.header_mid_input button {
  color: var(--white-color);
  border: none;
  outline: none;
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  padding: 1.3rem 2.5rem;
  border-top-right-radius: 3rem;
  background-color: var(--secondry-color);
  border-bottom-right-radius: 3rem;
}

.header_text {
  margin-left: 1rem;
}

.header_text p {
  line-height: 1;
  margin-bottom: 0px;
  color: var(--white-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.header_text p:nth-child(1) {
  line-height: 1.1rem;
  font-size: 1.1rem;
  opacity: 0.5;
}

.number-item {
  top: -16%;
  left: 60%;
  color: var(--white-color);
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
  padding: 0.1rem 0.6rem;
  border-radius: 50%;
  background-color: var(--secondry-color);
  position: absolute;
}
.header_bot_icon {
  margin-left: 3px;
}
.header_bot {
  background-color: var(--white-color);
  padding: 1.6rem 0px;
}
.header_bot i {
  vertical-align: middle;
  font-size: 5px;
}
.header_bot i::before {
  color: #555;
}

.header_bot_left {
  color: var(--black-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}
.icon-nav-menu-icon:before {
  position: relative;
  top: -1px;
  font-size: 13px;
}

.header_bot_left_text {
  font-size: var(--font-size-text);
  margin-left: 1rem;
}

.header_bot_left_item:nth-child(1) {
  padding-left: 0px;
}

.header_bot_left_item {
  padding: 0 1.5rem;
}

.header_bot_left_list {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.header_bot_link {
  transition: all linear 0.2s;
  text-decoration: none;
  color: var(--black-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.header_bot_icon svg {
  margin-left: 0.5rem;
}

.header_bot_icon svg path {
  fill: var(--third-color);
}

.header_bot_link:hover {
  color: var(--secondry-color);
}
.header_bot_link:hover i::before {
  color: var(--secondry-color);
}
.header_bot_right_text {
  transition: all 0.2s linear;
  color: var(--black-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  margin-left: 1rem;
}
.header_bot_right i::before {
  transition: all 0.2s linear;
  font-size: 18px;
  color: var(--black-color);
}

.header_bot_left_item:nth-child(7) .header_bot_link {
  color: #d73f0f;
}

.header_mid_right {
  height: 100%;
}
.header_mid_right_item i {
  font-size: 25px;
}
.header_mid_right_item:hover i::before {
  transition: all 0.2s linear;
}
.header_mid_right_item:hover i::before {
  color: var(--secondry-color);
}
.header_mid_right_item {
  cursor: pointer;
}

.header_bot_right:hover .header_bot_right_text {
  color: var(--secondry-color);
  cursor: pointer;
}
.header_bot_right:hover i::before {
  color: var(--secondry-color);
}
/* navbar mobile */

.navbar_item_list {
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  background-color: var(--white-color);
  width: 40%;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.header_mid::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.2s forwards;
}
.layer_in::before {
  opacity: 1;
  visibility: visible;
}
.slidein {
  animation: slidein linear 0.3s forwards;
}

.slideout {
  animation: slideout linear 0.3s forwards;
}

@keyframes slideout {
  from {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }

  to {
    transform: translateX(-40rem);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slidein {
  from {
    transform: translateX(-40rem);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}
.navbar_item_mobile:hover .navbar_item_mobile_link {
  cursor: pointer;
  color: var(--secondry-color);
}
.navbar_item_mobile:hover .navbar_item_mobile_link i::before {
  color: var(--secondry-color);
}
.navbar_item_mobile_link.active {
  color: var(--secondry-color);
}
.navbar_item_mobile_link.active i::before {
  color: var(--secondry-color);
}
.navbar_item_list_head {
  padding-left: 1.5rem;
  background-color: var(--black-color);
  height: 5rem;
}

.navbar_item_list_head span {
  position: relative;
  top: -1px;
  margin-right: 8px;
  display: inline-block;
  text-decoration: none;
  color: #b9b7b7;
  font-size: 1.2rem;
  line-height: 1;
  font-family: var(--primary-font);
  font-weight: 600;
}
.close_item{
  transform: rotate(180deg);
  margin-right: 8px;
}
.navbar_item_list_head .active {
  color: var(--white-color);
}
.navbar_item_mobile {
  padding: 0px 1rem 0px 3rem;
}
.menu-mobile .navbar_item_list_mobile,
.category-mobile .navbar_item_list_mobile {
  padding: 0px 1.5rem;
  padding-left: 0px;
  background-color: var(--white-color);
}
.category-mobile {
  display: none;
  height: 100%;
  top: 5rem;
  z-index: 1;
  width: 100%;
}
.mobile-item-hide {
  display: none;
}
.mobile-item-close {
  animation: fadein 0.5s linear;
  display: block;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.navbar_item_mobile_link {
  border-bottom: 1px solid var(--section-border-bottom);
  font-weight: 600;
  display: block;
  padding: 1.5rem 0px;
  text-decoration: none;
  color: var(--black-color);
  font-size: var(--font-size-text);
  line-height: 1.7;
  font-family: var(--primary-font);
}
.nav_icon i {
  font-size: 12px;
}

.navbar_item_mobile:nth-child(9) .nav_icon i {
  font-size: 18px;
  position: relative;
  top: 0rem;
  margin-right: 0.6rem;
}
.navbar_item_mobile:nth-child(9) .nav_icon i::before {
  font-weight: 500;
  color: var(--black-color);
}

.navbar_item_mobile:nth-child(9) .navbar_item_mobile_link {
  border-bottom: none;
}
.navbar_item_mobile:nth-child(9) .navbar_item_mobile_link span:nth-child(2) {
  font-family: var(--primary-font);
  font-size: var(--font-size-text);
}

.navbar_btn_mobile {
  list-style: none;
  padding: 0px 3rem 5rem 3rem;
}

.navbar_btn {
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 3rem;
  outline: none;
  border: none;
  font-weight: 600;
  color: var(--black-color);
  font-size: var(--font-size-text);
  line-height: 1.7;
  padding: 1.5rem 5.5rem;
  font-family: var(--primary-font);
}

.navbar_btn.black {
  margin-bottom: 1.5rem;
  background-color: var(--black-color);
  color: var(--white-color);
}

.navbar_btn.white {
  border: 0.8px solid #ebebeb;
  background-color: var(--white-color);
  color: var(--black-color);
}

.layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.2s forwards;
}

.showup {
  opacity: 1;
  visibility: visible;
}

/* body */
.main-img-item {
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.main-img {
  height: 70vh;
  max-height: 50rem;
}
.main-img img {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.main-img-item h1 {
  color: var(--white-color);
  font-size: 5rem;
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: 6rem;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 2rem;
  animation: text_go_up 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes text_go_up {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.main-img-item p {
  color: var(--white-color);
  font-size: 1.6rem;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 2rem;
  word-wrap: break-word;
  opacity: 0;
  margin-bottom: 5rem;
  animation: text_go_up 0.6s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.shop_btn {
  color: var(--black-color);
  padding: 1.7rem 5.7rem;
  border: none;
  outline: none;
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
  border-radius: 3rem;
  text-align: center;
  opacity: 0;
  animation: text_go_up 0.6s 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

/* product_list */
.product_list {
  padding: 6rem 0px;
}

.product_item_text h2 {
  margin-bottom: 4rem;
  color: var(--white-color);
  font-size: 2rem;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.product_item {
  min-height: 20rem;
  border-radius: 0.5rem;
}
.product-item_fa {
  border-radius: 0.5rem;
}
.product_item img {
  object-fit: cover;
  min-height: 20rem;
  border-radius: 0.5rem;
  transition: all linear 0.3s;
}
.product_item:hover img {
  transform: scale(1.1);
}
.product_item_text p {
  display: inline;
  margin-bottom: 0px;
  color: var(--white-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  position: absolute;
  word-wrap: break-word;
  overflow: hidden;
}
.product_item_text p::after {
  content: "";
  left: 0;
  bottom: 0;
  border: 1px solid var(--white-color);
  position: absolute;
  width: 100%;
}
.product_item:hover p::after {
  animation: gothrough ease-out 1s infinite;
}
@keyframes gothrough {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.product_item_text {
  padding: 3rem;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.product_image_list {
  padding-bottom: 6rem;
}

.product_image_item {
  cursor: pointer;
  width: calc((100% - 1rem) / 8);
}

.image-rounded {
  width: 12rem;
  height: 12rem;
  background-color: #f1f3f7;
  border-radius: 50%;
}

.image-rounded img {
  transition: transform linear 0.3s;
  margin: 0 auto;
}
.product_image_item-text p:nth-child(1) {
  margin-bottom: 5px;
}
.product_image_item-text p:nth-child(1) a {
  display: inline-block;
  transition: all linear 0.2s;
  text-align: center;
  color: var(--black-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0px;
}

.product_image_item-text p:nth-child(1):hover a {
  color: var(--secondry-color);
}

.product_image_item:nth-child(2) p:nth-child(1) {
  color: var(--secondry-color);
}

.product_image_item:hover .image-rounded img {
  transform: scale(1.1);
}

.product_image_item-text p:nth-child(2) {
  transition: all linear 0.2s;
  color: var(--text-color);
  font-size: 1.3rem;
  font-family: var(--primary-font);
  font-weight: 500;
  text-align: center;
}

.top_deal {
  margin-bottom: 6rem;
}

.top_deal_text {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--section-border-bottom);
}
.top_deal_text  i {
  font-size: 9px;
}
.top_deal_text  i::before {
  color: var(--text-color);
}
.top_deal_text h2 {
  color: var(--black-color);
  font-size: 2.8rem;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.top_deal_text_right .text {
  color: var(--third-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  margin-right: 1.5rem;
}
.box_item_2 {
  min-width: 4.5rem;
  min-height: 3.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dd3327;
  border-radius: 3px;
  padding: 2px 5px;
  margin-right: 0.5rem;
}
.box_item_2 span {
  color: var(--white-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 600;
}
.box_item_2:nth-child(4) {
  margin-right: 0px;
}

.top_deal_product {
  margin-top: 3rem;
}

.top_deal_product_item {
  text-decoration: none;
}

.top_deal_product_item_text {
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.top_deal_product_item_img {
  margin-bottom: 1rem;
}

.top_deal_product_item_img img {
  transition: opacity linear 0.5s;
}

.top_deal_product_item_img img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.top_deal_product_item_img:hover img:nth-child(1) {
  opacity: 0;
}

.top_deal_product_item_img:hover img:nth-child(2) {
  opacity: 1;
}
/* top_sell hover */
.top_sell_product_img img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.top_sell_product_img img {
  transition: opacity linear 0.5s;
}
.top_sell_product_img:hover img:nth-child(1) {
  opacity: 0;
}
.top_sell_product_img:hover img:nth-child(2) {
  opacity: 1;
}
.top_deal_product_item_text p {
  margin-bottom: 0px;
}

.top_deal_product_item_text .category {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
  font-size: 1.2rem;
  text-transform: uppercase;
}

.top_deal_product_item_text .name {
  transition: all linear 0.2s;
  color: var(--black-color);
  font-size: var(--font-size-text);
  line-height: 2rem;
  word-wrap: break-word;
}

.top_deal_product_item_text .old-price {
  color: #8d979e;
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  text-decoration: line-through;
  word-wrap: break-word;
}

.top_deal_product_item_text .new-price {
  color: var(--secondry-color);
  font-size: 1.8rem;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}
.top_deal_product_item_text .star {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.top_deal_product_item_text .star i {
  font-size: 12px;
}
.discount {
  color: var(--white-color);
  font-size: 1.3rem;
  font-family: var(--primary-font);
  line-height: 1;
  font-weight: 500;
  word-wrap: break-word;
  padding: 0.6rem 1.15rem;
  background-color: #dd3327;
  border-radius: 3rem;
  left: 0;
  top: 0;
}

.discount_table {
  left: 0;
  top: 0;
}
.discount.pre-order {
  display: none;
  color: var(--black-color);
  background-color: #f8ba26;
  top: 13%;
}

.top_sell_product_img {
  width: 40%;
  padding: 0px 0.5rem;
}

.top_sell_product_img .discount {
  top: -4%;
}

.top_deal_product_item_text {
  flex: 1;
}

.name:hover {
  cursor: pointer;
  color: var(--secondry-color);
}

.home-item-list,
.page-item-list,
.blog-item-list {
  width: 300%;
  top: 5.6rem;
  padding: 1rem 0px;
  right: 0;
  left: 0;
  z-index: 6;
  visibility: hidden;
  background-color: white;
  transition: all linear 0.2s;
  opacity: 0;
}

.home-item-list::before,
.page-item-list::before,
.blog-item-list::before {
  position: absolute;
  top: -2.2rem;
  content: "";
  height: 3.6rem;
  width: 50%;
}

.page:hover .page-item-list {
  opacity: 1;
  visibility: visible;
  top: 3.6rem;
}

.blog:hover .blog-item-list {
  opacity: 1;
  visibility: visible;
  top: 3.6rem;
}

.home-item {
  transition: all linear 0.2s;
  padding: 1rem 4.8rem 1rem 3.5rem;
}

.home_item_link {
  transition: all 0.2s linear;
  font-weight: 500;
  font-size: var(--font-size-text);
  text-decoration: none;
  color: var(--third-color);
  font-family: var(--primary-font);
}

.home_item_link:hover {
  color: var(--black-color);
}

.home-item:hover {
  transform: translateX(1rem);
}

.home:hover .home-item-list {
  opacity: 1;
  visibility: visible;
  top: 3.6rem;
}

.home_item_link_text {
  color: var(--white-color);
  display: inline-block;
  line-height: 1;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.6rem 1rem !important;
  border-radius: 2rem;
  margin-left: 0.7rem !important;
  background-color: #e02f60;
}

.product:hover .product-item-list {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.shop-item-list,
.product-item-list {
  min-height: 280px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  background-color: var(--white-color);
  left: 0;
  right: 0;
  top: 110%;
  padding: 4rem 0px;
  transition: all linear 0.2s;
}
.product-item-list {
  padding: 3rem 0px 2rem 0px;
}
.shop-item-list {
  padding-bottom: 5rem;
}

.shop-item-list::before,
.product-item-list::before {
  top: -1.5rem;
  content: "";
  height: 3rem;
  width: 50%;
  position: absolute;
}

.shop:hover .shop-item-list {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.shop_main_text {
  font-size: var(--font-size-text);
  color: var(--black-color);
  font-weight: 600;
  font-family: var(--primary-font);
}

.shop_main_item:nth-child(1) .shop_main_link {
  padding-top: 1.6rem;
}

.shop_main_link:hover {
  transform: translateX(1rem);
  color: var(--black-color);
}

.shop_main_link {
  transition: all 0.2s linear;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: var(--font-size-text);
  transition: all linear 0.2s;
  display: block;
  padding: 0.7em 0px;
  text-decoration: none;
  color: #555;
}

.shop-item_img {
  overflow: hidden;
}

.shop-item {
  transition: all linear 0.2s;
  min-height: 25.8rem;
  border-radius: 1.2rem;
}

.btn_shop {
  font-size: 1.4rem;
  transition: all linear 0.2s;
  transform: translateX(-50%);
  font-weight: 600;
  border-radius: 3rem;
  top: 75%;
  left: 50%;
  color: var(--black-color);
  outline: none;
  border: none;
  min-width: 156px;
  background-color: var(--white-color);
  padding: 1rem 2.7rem;
}

.btn_shop:hover {
  color: var(--white-color);
  background-color: var(--secondry-color);
}

.lap {
  overflow: hidden;
  display: block;
  border-radius: 1rem;
}
.lap img {
  border-radius: 1rem;
  min-height: 25.8rem;
  transition: all linear 0.3s;
}
.lap:hover img {
  transform: scale(1.1);
}
.shop-item.product-item {
  width: calc((100% - 3rem) / 5);
}

/* top_sell */
.top_sell {
  padding: 6rem 0px;
  background-color: #f1f3f7;
}

.top_sell_text h2 {
  color: var(--black-color);
  font-size: 2.8rem;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}
.top_sell_text a {
  color: var(--secondry-color);
  font-size: var(--font-size-text);
  transition: all 0.2s linear;
}
.top_sell_text a:hover {
  color: var(--secondry-color);
}
.top_sell_text {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--section-border-bottom);
}
.top_sell_product_list .star {
  line-height: 1;
}
a {
  text-decoration: none !important;
}
.top_sell_text p {
  display: inline-block;
  color: var(--secondry-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 0px;
}

.top_sell_text p i {
  transition: all 0.2s linear;
  font-size: 9px;
  position: relative;
  top: -0.1rem;
  margin-left: 0.5rem;
}

.top_sell_product {
  margin-top: 3rem;
}

.top_sell_product_list {
  min-height: 20rem;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  padding: 2rem;
}

.top_sell_product .row > * {
  margin-top: 0px;
}

.recomend_product {
  padding-top: 6rem;
}

.recomend_product_head_text {
  color: var(--text-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}
.recomend_product_head_text .text {
  color: var(--text-color);
}
.recomend_product_head_text .text span {
  font-size: var(--font-size-text);
}
.rc-text:hover i::before {
  color: var(--secondry-color);
}

.rc-text {
  font-size: var(--font-size-text);
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 500;
}
.rc-text:hover {
  color: var(--secondry-color);
}
.deal_promotion {
  padding: 6rem 0px;
}

.deal_promotion_head {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--section-border-bottom);
}

.deal_promotion_head h2 {
  color: var(--black-color);
  font-size: 2.8rem;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.deal_promotion_product {
  margin-top: 3rem;
}

.deal_img {
  display: block;
  border-radius: 0.5rem;
  overflow: hidden;
}

.deal_img img {
  min-height: 253px;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: all linear 0.3s;
}

.deal_img:hover img {
  cursor: pointer;
  transform: scale(1.1);
}

.deal_text p:nth-child(1) {
  margin: 2rem 0px 1rem 0px;
  color: var(--black-color);
  font-size: 1.6rem;
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: 2rem;
  word-wrap: break-word;
}
.deal_text p:nth-child(1) a {
  color: var(--black-color);
  font-size: 1.6rem;
  transition: all 0.2s linear;
}
.deal_text p:nth-child(1) a:hover {
  color: var(--secondry-color);
}
.deal_text p:nth-child(2) {
  margin-bottom: 0px;
  color: var(--third-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.75;
  word-wrap: break-word;
}

.payment {
  border-bottom: 1px solid var(--section-border-bottom);
  border-top: 1px solid var(--section-border-bottom);
  padding: 4rem 0px;
}

.payment-item {
  position: relative;
}

.payment-item::before {
  position: absolute;
  content: "";
  height: 6rem;
  width: 2px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid var(--section-border-bottom);
}

.payment-product:nth-child(1) .payment-item::before {
  display: none;
}

.payment_img {
  margin-bottom: 1rem;
  text-align: center;
}

.payment-text {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.payment-text p:nth-child(1) {
  margin-bottom: 0.3rem;
  color: var(--black-color);
  font-size: 1.5rem;
}

.payment-text p:nth-child(2) {
  margin-bottom: 0px;
  color: var(--third-color);
  font-size: var(--font-size-text);
}
.carousel-indicators {
  z-index: 1 !important;
}
/* footer */
.footer {
  background-color: #f1f3f7;
  padding-top: 6rem;
}

.footer_head h3 {
  text-align: center;
  color: var(--black-color);
  font-size: 2.8rem;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.footer_head p {
  text-align: center;
  color: var(--third-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 3rem;
}

.footer_input {
  height: 5rem;
}

.footer_input button {
  padding: 1rem 4.5rem;
  outline: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
  background-color: var(--secondry-color);
  margin-left: 1rem;
  border-radius: 3rem;
}

.footer_input input {
  flex: 0.4;
  line-height: 1;
  color: var(--text-color);
  font-size: 1.3rem;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.footer_body {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.footer_contact h3 {
  color: var(--black-color);
  font-size: 1.6rem;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 3rem;
}

.footer_contact p {
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.footer_contact .question {
  color: var(--third-color);
  font-size: var(--font-size-text);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.footer_contact .phone_contact {
  margin-bottom: 2rem;
  line-height: 1;
  color: var(--secondry-color);
  font-size: 3rem;
  word-wrap: break-word;
}

.footer_contact .address {
  color: var(--third-color);
  font-size: var(--font-size-text);
  word-wrap: break-word;
  margin-bottom: 2rem;
}

.social {
  gap: 1rem;
}

.social svg {
  cursor: pointer;
}

.footer_list {
  margin-top: 3rem;
}

.footer_link {
  display: block;
  padding: 8px 0px;
  text-decoration: none;
  color: var(--third-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  transition: all linear 0.2s;
}

.footer_item:nth-child(1) .footer_link {
  padding-top: 0px;
}

.footer_link:hover {
  color: var(--black-color);
  transform: translateX(1rem);
}

.footer_help h3 {
  color: var(--black-color);
  font-size: 1.6rem;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.footer_icon {
  transition: all linear 0.3s;
}

.last {
  padding: 3rem 0px;
  border-top: 1px solid #ebebeb;
}
.last .language span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: var(--font-size-text);
}
.footer-payment .payment {
  border: none;
  padding: 0px;
}
.icon-block {
  top: 10%;
  right: 0;
  opacity: 0;
  transition: all 0.2s linear;
}
.icon-block-item {
  background-color: var(--white-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.2s linear;
}
.top_deal_product_item:hover .top_deal_product_item_img .icon-block {
  right: 10%;
  opacity: 1;
}

.icon-block-item:hover {
  background-color: var(--black-color);
}
.icon-block-item:hover i::before {
  color: var(--white-color);
}
.icon-block-item:hover svg path {
  fill: var(--white-color);
}
.icon-block-item i {
  vertical-align: middle;
  font-weight: 550;
  font-size: 13px;
}
.icon-block-item i::before {
  color: var(--black-color);
}
.close_item,
.close {
  cursor: pointer;
}

.dp_item_list {
  cursor: pointer;
  max-height: 0px;
  overflow: hidden;
  /* visibility: hidden; */
  border-radius: 0.3rem;
  right: -1.5rem;
  left: 0.75rem;
  top: 150%;
  background-color: var(--white-color);
  transition: all 0.3s linear;
}
.dp_item_list_shown {
  /* visibility: visible; */
  overflow: unset;
  opacity: 1;
}
.header_bot_left {
  cursor: pointer;
}
.dp-item {
  padding: 0px 30px;
}
.dp-item-link {
  border-bottom: 1px solid var(--section-border-bottom);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  color: var(--black-color);
  font-weight: 500;
  transition: all 0.2s linear;
}
.dp-item:hover .dp-item-link {
  color: var(--secondry-color);
}
.dp-item span i {
  font-size: 10px;
  transition: all 0.2s linear;
}
.dp-item:hover span i::before {
  color: var(--secondry-color);
}
.el_item {
  left: 100%;
  background-color: var(--white-color);
  top: 20px;
  width: 310%;
  transition: all 0.2s linear;
  padding: 30px 30px;
  opacity: 0;
  visibility: hidden;
}
.dp-item:hover .el_item {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.el_heading {
  display: block;
  padding-bottom: 10px;
  font-size: var(--font-size-text);
  color: var(--black-color);
  font-weight: 600;
  font-family: var(--primary-font);
}
.el_heading_link {
  display: block;
  padding: 5px 0px;
  font-size: var(--font-size-text);
  color: #555;
  font-weight: 500;
  font-family: var(--primary-font);
  transition: all 0.2s linear;
}
.el_heading_link:hover {
  color: var(--black-color);
  transform: translateX(10px);
}

.home_item {
  width: 120%;
  padding: 30px 15px;
  border-radius: 3px;
  top: 20px;
  left: 100%;
  background-color: var(--white-color);
  transition: all 0.2s linear;
  visibility: hidden;
  opacity: 0;
}
.dp-item:hover .home_item {
  visibility: visible;
  opacity: 1;
  top: 0;
}
.home_menu_item_link {
  display: block;
  padding: 5px 15px;
  font-size: var(--font-size-text);
  color: #555;
  font-weight: 500;
  font-family: var(--primary-font);
  transition: all 0.2s linear;
}
.home_menu_item_link:hover {
  color: var(--black-color);
  margin-left: 10px;
}
.phone_item {
  width: 120%;
  padding: 30px 15px;
  border-radius: 3px;
  top: 20px;
  left: 100%;
  background-color: var(--white-color);
  transition: all 0.2s linear;
  visibility: hidden;
  opacity: 0;
}
.dp-item:hover .phone_item {
  visibility: visible;
  opacity: 1;
  top: 0;
}
.dp-item:nth-child(11) .dp-item-link {
  position: relative;
  font-weight: 600;
}
.dp-item:nth-child(11) .dp-item-link::after {
  content: "\e9d4";
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
}
.phone_menu_item_link {
  display: block;
  padding: 5px 15px;
  font-size: var(--font-size-text);
  color: var(--third-color);
  font-weight: 500;
  font-family: var(--primary-font);
  transition: all 0.2s linear;
}
.phone_menu_item_link:hover {
  color: var(--black-color);
  margin-left: 10px;
}
.el_main {
  border-radius: 5px;
}
.el_main img {
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
.el_main:hover img {
  transform: scale(1.1);
}
.layer_item {
  content: "";
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s linear;
  cursor: pointer;
}
.layer_item_go_in {
  opacity: 1;
  visibility: visible;
}
.item_mobile_list {
  background-color: var(--white-color);
  overflow-y: auto;
  width: 40%;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.item_mobile_list .navbar_item_list_head {
  padding-left: 30px;
  background-color: #f5f5f5;
}

.navbar_item_list_head .close {
  padding-right: 2.3rem;
  margin-right: 0;
}
