@import url("https://api.fontshare.com/v2/css?f[]=general-sans@500,300,600,400,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--primay-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header_top {
  line-height: 1;
  padding: 10px 0px;
}

.header-top-list {
  border-bottom: 1px solid #364a9b;
}

.header_top span {
  display: inline-block;
  color: var(--white-color);
  font-size: 13px;
  font-family: var(--primary-font);
  font-weight: 400;
  word-wrap: break-word;
}

.header_top_icon {
  margin-left: 8px;
}

.header_top span a {
  text-decoration: none;
  color: var(--white-color);
}

.header_top span:hover a {
  color: var(--secondry-color);
}

.header_top-left span:nth-child(1) {
  margin-right: 25px;
}

.store,
.english {
  margin-right: 25px;
}

.header_mid_input .searchBar {
  flex: 1;
}

.header_mid_input .searchBar input {
  border: none;
  outline: none;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 13.5px 50px;
  color: var(--text-color);
  font-size: 13px;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.header_mid_logo {
  cursor: pointer;
}

.header_mid_input .searchBar svg {
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.header_mid {
  padding: 25px 0;
}

.header_mid_input button {
  color: var(--white-color);
  border: none;
  outline: none;
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  padding: 13px 25px;
  border-top-right-radius: 30px;
  background-color: var(--secondry-color);
  border-bottom-right-radius: 30px;
}

.header_text {
  margin-left: 10px;
}

.header_text p {
  line-height: 1;
  margin-bottom: 0px;
  color: var(--white-color);
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.header_text p:nth-child(1) {
  line-height: 11px;
  font-size: 11px;
  opacity: 0.5;
}

.number-item {
  top: -16%;
  left: 60%;
  color: var(--white-color);
  font-size: 10px;
  font-family: var(--primary-font);
  font-weight: 500;
  text-transform: uppercase;
  word-wrap: break-word;
  padding: 1px 6px;
  border-radius: 50%;
  background-color: var(--secondry-color);
  position: absolute;
}

.header_bot {
  background-color: var(--white-color);
  padding: 16px 0px;
}

.header_bot_left {
  color: var(--black-color);
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.header_bot_left svg path {
  fill: var(--black-color);
}

.header_bot_left_text {
  margin-left: 10px;
}

.header_bot_left_item:nth-child(1) {
  padding-left: 0px;
}

.header_bot_left_item {
  padding: 0 15px;
}

.header_bot_left_list {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.header_bot_link {
  transition: all linear 0.2s;
  text-decoration: none;
  color: var(--black-color);
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.header_bot_icon svg {
  margin-left: 5px;
}

.header_bot_icon svg path {
  fill: #555555;
}

.header_bot_link:hover {
  color: var(--secondry-color);
}

.header_bot_right_text {
  color: var(--black-color);
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  margin-left: 10px;
}

.header_bot_left_item:nth-child(7) .header_bot_link {
  color: #d73f0f;
}

.header_mid_right {
  height: 100%;
}

.header_mid_right_item:hover svg path {
  fill: var(--secondry-color);
}

.header_mid_right_item {
  cursor: pointer;
}

.header_bot_right:hover .header_bot_right_text {
  color: var(--secondry-color);
  cursor: pointer;
}

/* navbar mobile */

.navbar_item_list {
  opacity: 0;
  visibility: hidden;
  background-color: var(--white-color);
  overflow-y: auto;
  width: 40%;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.slidein {
  animation: slidein linear 0.3s forwards;
}

.slideout {
  animation: slideout linear 0.3s forwards;
}

@keyframes slideout {
  from {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }

  to {
    transform: translateX(-400px);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slidein {
  from {
    transform: translateX(-400px);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}

.navbar_item_list_head {
  padding-left: 15px;

  background-color: var(--black-color);
  height: 50px;
}

.navbar_item_list_head a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 12px;
  line-height: 1;
  padding: 15px;
  font-family: var(--primary-font);
  font-weight: 500;
}

.navbar_item_mobile {

  padding: 0px 10px 0px 30px;
}

.navbar_item_list_mobile {
  padding: 0px 20px;
  background-color: var(--white-color);
}

.navbar_item_mobile_link {
  border-bottom: 1px solid #55555533;
  font-weight: 600;
  display: block;
  padding: 15px 0px;
  text-decoration: none;
  color: var(--black-color);
  font-size: 14px;
  line-height: 1.7;
  font-family: var(--primary-font);
}

.navbar_item_mobile:nth-child(9) .nav_icon {
  position: relative;
  top: -4px;
  margin-right: 6px;
}

.navbar_item_mobile:nth-child(9) .navbar_item_mobile_link {
  border-bottom: none;
}

.navbar_btn_mobile {
  list-style: none;
  padding: 0px 30px 50px 30px;
}

.navbar_btn {
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 30px;
  outline: none;
  border: none;
  font-weight: 600;
  color: var(--black-color);
  font-size: 14px;
  line-height: 1.7;
  padding: 15px 55px;
  font-family: var(--primary-font);
}

.navbar_btn.black {
  margin-bottom: 15px;
  background-color: var(--black-color);
  color: var(--white-color);
}

.navbar_btn.white {
  border: 0.8px solid #ebebeb;
  background-color: var(--white-color);
  color: var(--black-color);
}

.layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.2s forwards;
}

.showup {
  opacity: 1;
  visibility: visible;
}

.close {
  padding-right: 20px;
}

/* body */
.main-img-item {
  background: url(./image/bg.png) no-repeat center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-img-item h1 {
  color: var(--white-color);
  font-size: 50px;
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: 60px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 20px;
}

.main-img-item p {
  color: var(--white-color);
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.shop_btn {
  color: var(--black-color);
  padding: 17px 57px;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  border-radius: 30px;
  text-align: center;
}


/* product_list */
.product_list {
  padding: 60px 0px;
}

.product_item_text h3 {
  margin-bottom: 40px;
  color: var(--white-color);
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.product_item {
  min-height: 200px;
  padding: 36px 30px 36px 30px;
  border-radius: 5px;
}

.product_item_text p {
  display: inline;
  border-bottom: 1px solid #fff;
  margin-bottom: 0px;
  color: var(--white-color);
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.product_item_text {
  width: 100%;
}


.play-station {
  background: url('./image/play_station.jpg') no-repeat center;
  background-size: cover;
  transition: all 0.3s ease;
}

.play-station:hover {
  transform: scale(1.1);
  background-position: center right;
}

.phone {
  background: url('./image/Phone_imgV2.png') no-repeat center;
  background-size: cover;
}

.camera {
  background: url('./image/Camera_imageV2.png') no-repeat center;
  background-size: cover;
}

.product_image_list {
  padding-bottom: 60px;
}

.product_image_item {
  cursor: pointer;
  width: calc((100% - 10px) / 8);
}

.image-rounded {
  width: 120px;
  height: 120px;
  background-color: #F1F3F7;
  border-radius: 50%;
}

.image-rounded img {
  transition: transform linear 0.3s;
  margin: 0 auto;
}

.product_image_item-text p:nth-child(1) {
  transition: all linear 0.2s;
  text-align: center;
  color: var(--black-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
}

.product_image_item-text p:nth-child(1):hover {
  color: var(--secondry-color);
}

.product_image_item:nth-child(2) p:nth-child(1) {

  color: var(--secondry-color);
}

.product_image_item:hover .image-rounded img {
  transform: scale(1.1);
}

.product_image_item-text p:nth-child(2) {
  transition: all linear 0.2s;
  color: var(--text-color);
  font-size: 13px;
  font-family: var(--primary-font);
  font-weight: 500;
  text-align: center;
}

.top_deal {
  margin-bottom: 60px;
}

.top_deal_text {
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E8EC;
}

.top_deal_text h2 {
  color: var(--black-color);
  font-size: 28px;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word
}

.top_deal_text_right .text {
  color: #555555;
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  margin-right: 15px;
}

.box_item {
  margin-right: 5px;
  padding: 7px 15px;
  border-radius: 3px;
  background-color: #DD3327;
  color: var(--white-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.top_deal_product {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_deal_product_item {
  text-decoration: none;
  padding: 0px 15px;
  width: calc((100% - 10px) / 5);
}

.top_deal_product_item:nth-child(2) .top_deal_product_item_text .name {
  color: var(--secondry-color);
}

.top_deal_product_item_text {
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.top_deal_product_item_img {
  margin-bottom: 10px;
}

.top_deal_product_item_img img {
  transition: opacity linear 0.3s;
}

.top_deal_product_item_img img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.top_deal_product_item_img:hover img:nth-child(1) {
  opacity: 0;
}

.top_deal_product_item_img:hover img:nth-child(2) {
  opacity: 1;
}
/* top_sell hover */
.top_sell_product_img img:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.top_sell_product_img img{
  transition: opacity linear 0.3s;
}
.top_sell_product_img:hover img:nth-child(1){
  opacity: 0;
}
.top_sell_product_img:hover img:nth-child(2){
  opacity: 1;
}
.top_deal_product_item_text p{
  margin-bottom: 0px;
}

.top_deal_product_item_text .category {
  margin-bottom: 0px;
  color: var(--text-color);
  font-size: 12px;
  text-transform: uppercase;
}

.top_deal_product_item_text .name {
  transition: all linear 0.2s;
  color: var(--black-color);
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
}

.top_deal_product_item_text .old-price {
  color: #515D66;
  font-size: 15px;
  font-family: var(--primary-font);
  font-weight: 400;
  text-decoration: line-through;
  word-wrap: break-word;
}

.top_deal_product_item_text .new-price {
  color: var(--secondry-color);
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word
}
.top_deal_product_item_text .star{
  margin-bottom: 10px;
}

.discount {
  color: var(--white-color);
  font-size: 12px;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  padding: 4px 10px;
  background-color: var(--secondry-color);
  border-radius: 20px;
  left: 0;
  top: 0;
}

.discount.pre-order {
  color: var(--black-color);
  background-color: #F8BA26;
  top: 13%;
}

.top_sell_product_img {
  width: 40%;
  padding: 0px 5px;
}

.top_sell_product_img .discount {
  top: -4%;
}

.top_deal_product_item_text {
  flex: 1;
  padding: 0 5px;
}

.name:hover {
  cursor: pointer;
  color: var(--secondry-color);
}

.home-item-list,
.page-item-list,
.blog-item-list {
  width: 300%;
  top: 56px;
  padding: 10px 0px;
  right: 0;
  left: 0;
  z-index: 6;
  visibility: hidden;
  background-color: white;
  transition: all linear 0.2s;
  opacity: 0;
}

.home-item-list::before,
.page-item-list::before,
.blog-item-list::before {
  position: absolute;
  top: -20px;
  content: "";
  height: 36px;
  width: 50%;
}

.page:hover .page-item-list {
  opacity: 1;
  visibility: visible;
  top: 40px;
}

.blog:hover .blog-item-list {
  opacity: 1;
  visibility: visible;
  top: 40px;
}

.home-item {
  transition: all linear 0.2s;
  padding: 10px 48px 10px 35px;
}

.home_item_link {
  text-decoration: none;
  color: #555;
}

.home_item_link:hover {
  color: #555;
}

.home-item:hover {
  transform: translateX(10px);
}

.home:hover .home-item-list {
  opacity: 1;
  visibility: visible;
  top: 40px;
}

.home_item_link_text {
  color: var(--white-color);
  display: inline-block;
  line-height: 1;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  padding: 6px 10px !important;
  border-radius: 20px;
  margin-left: 7px !important;
  background-color: #E02F60;
}

.product:hover .product-item-list {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.shop-item-list,
.product-item-list {
  opacity: 0;
  visibility: hidden;
  background-color: white;
  left: 0;
  right: 0;
  top: 110%;
  padding: 30px 0px;
  transition: all linear 0.2s;
}

.shop-item-list::before,
.product-item-list::before {
  top: -15px;
  content: "";
  height: 30px;
  width: 50%;
  position: absolute;
}

.shop:hover .shop-item-list {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.shop_main_text {
  color: var(--black-color);
  font-weight: 600;
  font-family: var(--primary-font);
}

.shop_main_item:nth-child(1) .shop_main_link {
  padding-top: 16px;
}

.shop_main_link:hover {
  transform: translateX(10px);
  color: #555;
}

.shop_main_link {
  transition: all linear 0.2s;
  display: block;
  padding: 6px 0px;
  text-decoration: none;
  color: #555;
}

.shop-item_img {
  overflow: hidden;
}

.shop-item img {
  transition: all linear 0.2s;
  height: 228px;
  border-radius: 12px;
}

.btn_shop {
  transition: all linear 0.2s;
  transform: translateY(-50%);
  font-weight: 600;
  border-radius: 30px;
  top: 80%;
  left: 22%;
  color: var(--black-color);
  outline: none;
  border: none;
  background-color: var(--white-color);
  padding: 12px 11px;
}

.shop-item:hover .lap {
  background-size: unset;
}

.btn_shop:hover {
  color: white;
  background-color: var(--secondry-color);
}

.lap,
.smart_tv {
  display: block;
  height: 100%;
  border-radius: 12px;
  background: url(./image/lap&PC.jpg) no-repeat center;
  background-size: cover;
  transition: all linear 0.5s;
}

.smart_tv {
  background-image: url(./image/cate1.jpg);
}

.shop-item.product-item {
  width: calc((100% - 30px) / 5);
}

/* top_sell */
.top_sell {
  padding: 60px 0px;
  background-color: #F1F3F7;
}

.top_sell_text h2 {
  color: var(--black-color);
  font-size: 28px;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word
}

.top_sell_text {
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E8EC;
}
.top_sell_product_list .star{
  line-height: 1;
}
a{
  text-decoration: none !important;
}
.top_sell_text p {
  display: inline-block;
  color: var(--secondry-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 0px;
}

.top_sell_text p svg {
  position: relative;
  top: -1px;
  margin-left: 5px;
}

.top_sell_product {
  margin-top: 30px;
}

.top_sell_product_list {
  min-height: 200px;
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 20px;
}

.top_sell_product .row>* {
  margin-top: 0px;
}

.recomend_product {
  padding-top: 60px;
}

.recomend_product_head_text {
  color: #999999;
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.deal_promotion {
  padding: 60px 0px;
}

.deal_promotion_head {
  padding-left: 15px;
  border-bottom: 1px solid #E5E8EC;
}

.deal_promotion_head h2 {
  color: var(--black-color);
  font-size: 28px;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.deal_promotion_product {
  margin-top: 30px;
}

.deal_img {
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

.deal_img img {
  border-radius: 5px;
  transition: all linear 0.3s;
}

.deal_img:hover img {
  cursor: pointer;
  transform: scale(1.1);
}

.deal_text p:nth-child(1) {
  margin: 20px 0px 10px 0px;
  color: var(--black-color);
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}

.deal_text p:nth-child(2) {
  margin-bottom: 0px;
  color: #555555;
  font-size: 14px;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.payment {
  border-bottom: 1px solid #E5E8EC;
  border-top: 1px solid #E5E8EC;
  padding: 40px 0px;
}

.payment-item {
  position: relative;
}

.payment-item::before {
  position: absolute;
  content: "";
  height: 60px;
  width: 2px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #E5E8EC;
}

.payment-product:nth-child(1) .payment-item::before {
  display: none;

}

.payment_img {
  margin-bottom: 3px;
  text-align: center;
}

.payment-text {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.payment-text p:nth-child(1) {
  margin-bottom: 5px;
  color: var(--black-color);
  font-size: 15px;
}

.payment-text p:nth-child(2) {
  margin-bottom: 0px;
  color: #555555;
  font-size: 14px;
}

/* footer */
.footer {
  background-color: #F1F3F7;
  padding: 60px 0px;
}

.footer_head h1 {
  text-align: center;
  color: var(--black-color);
  font-size: 28px;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.footer_head p {
  text-align: center;
  color: #555555;
  font-size: var(--font-size-text);
  font-family: General Sans;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 30px;
}

.footer_input {
  height: 50px;
}

.footer_input button {
  padding: 10px 45px;
  outline: none;
  border: none;
  color: var(--white-color);
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
  background-color: var(--secondry-color);
  margin-left: 10px;
  border-radius: 30px;
}

.footer_input input {
  flex: 0.4;
  line-height: 1;
  color: #999999;
  font-size: 13px;
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
}

.footer_body {
  margin-top: 60px;
}

.footer_contact h2 {
  color: var(--black-color);
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 25px;
}

.footer_contact p {
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
}

.footer_contact .question {
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer_contact .phone_contact {
  margin-bottom: 20px;
  line-height: 1;
  color: var(--secondry-color);
  font-size: 30px;
  word-wrap: break-word;
}

.footer_contact .address {
  color: #555555;
  font-size: 14px;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.social {
  gap: 10px;
}

.social svg {
  cursor: pointer;
}

.footer_list {
  margin-top: 22px;
}

.footer_link {
  display: block;
  padding: 8px 0px;
  text-decoration: none;
  color: #555555;
  font-size: var(--font-size-text);
  font-family: var(--primary-font);
  font-weight: 500;
  word-wrap: break-word;
  transition: all linear 0.2s;
}

.footer_item:nth-child(1) .footer_link {
  padding-top: 0px;
}

.footer_link:hover {
  color: #555555;
  transform: translateX(10px);
}

.footer_help h2 {
  color: var(--black-color);
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 600;
  word-wrap: break-word;
}

.footer_icon {
  transition: all linear 0.3s;
}