/* mobile */




@media (max-width: 1199px) {
    .rotate{
        transform: rotate(180deg);
    }
    .navbar_mobile {
        padding-left: 0px !important;
    }

    .header-top-list {
        display: none;
    }

    .header_bot {
        display: none;
    }

    .header_mid_input .searchBar svg {
        left: 3%;
    }

    .header_mid {
        padding: 15px 0px;
    }

   
}

/* tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .navbar_item_list {
        width: 50%;
    }
    .footer_list {
        display: none;
    }

    .godown {
        animation: godown linear 0.3s forwards;
        display: block;
    }

    @keyframes godown {
        0% {
            height: 0%;
        }
        100% {
            height: 100%;
        }
    }
}


@media (max-width:739px) {
    .footer_list {
        display: none;
    }

    .godown {
        animation: godown linear 0.3s forwards;
        display: block;
    }

    @keyframes godown {
        0% {
            height: 0px;
        }
        100% {
            height: 178px;
        }
    }
    .navbar_item_list {
        width: 100%;
    }

    .main-img-item h1 {
        font-size: 28px;
        line-height: 40px;
    }

    .main-img-item p {
        font-size: 13px;
    }

    .header_mid_input .searchBar svg {
        left: 8%;
    }
}